* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

    .container {
        background-color:  hsl(185, 75%, 39%);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-profile {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50%;
        border-radius: 10px;
        font-weight: bold;

    }

    .card-profile img {
        width: 30%;
        border-radius: 110px;
        margin: 0px 15px 15px 15px;
  
    }

    .card-profile ul {
        display: flex;
        list-style: none;
    }

    .card-profile li {
        text-align: center;
        margin: 10px 15px 10px 15px;
    }

    .card-profile .cidade {
        font-weight: 400;
        color: hsl(227, 10%, 46%) ;
        margin: 25px 0px 30px 0;
        padding: 0px 106px 10px 106px ;
        border-bottom: 1px solid hsl(228, 9%, 55%) ;
    }

    .card-profile .idade {
        color: hsl(227, 10%, 46%)
    }

    .card-profile li p {
        color: hsl(227, 10%, 46%)
    }

